<h1 class="center">Take a selfie 😁</h1>
<div class="flex">
  <div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="toUpload()"
    >
      Upload Photo
      <mat-icon fontIcon="cloud_upload"></mat-icon>
    </button>
  </div>
  <div>
    <button mat-raised-button color="accent" type="button" (click)="toSnap()">
      Snap Photo
      <mat-icon fontIcon="add_a_photo"></mat-icon>
    </button>
  </div>
  <div>
    <button mat-raised-button color="warn" type="button" (click)="getPhoto()">
      Check Photo
      <mat-icon fontIcon="photo_library"></mat-icon>
    </button>
  </div>
</div>
<!-- <section class="container-fluid">
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-4">
      <button type="button" class="btn btn-primary">Try 1</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-secondary">Try 2</button>
    </div>
  </div>
</section> -->
