.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  margin: 2vh;
  text-align: center;
  font-weight: 500;
  font-family: monospace;
}

.flex-button {
  width: 550px;
  margin: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
